body {
  background: black;
  margin: 0;
  padding: 0;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* 界面 */
.top-nav-bar {
  padding: 20px 0 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top-nav-bar > .top-nav-bar-inner {
  padding: 0 20px;
}

.banner {
  background-image: url("./image/rs-cover.jpg");
  height: 500px;
  background-position: center;
  background-size: cover;
}

.banner > .cover {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.top-nav-bar .logo {
  font-size: 22px;
  font-family: "Ayuthaya Bolo";
  padding: 10px 0 10px 0;
}

.top-nav-bar .logo > .rs {
  color: #e8676b;
  margin-right: 5px;
}

.top-nav-bar .logo > .card {
  color: #9a9da2;
}

.top-nav-bar nav {
  padding: 10px 0 0 10px;
  font-size: 13px;
}

.top-nav-bar nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-nav-bar nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  /* border: 1px solid green */
}

.top-nav-bar nav > ul > li:first-child {
  margin-left: 0;
}

.top-nav-bar nav > ul > li > a {
  color: #c4c4c4;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  border-bottom: 2px solid transparent;
}

.top-nav-bar nav > ul > li > a:hover {
  border-bottom: 2px solid salmon;
}

.user-card {
  border: 1px solid red;
  width: 930px;
}
